###  intellij
.idea
# .iml files exclusion is unnecessary in intellij 16+ versions, since it was moved to the idea directory.
*.iml

### gradle
.gradle
build

### dolphin - KDE file manager
.directory

### eclipse
target/
bin/
.settings/
.project
.classpath

### Ignore path log
log/

### Ignore path log
export/
